In [ ]:
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.6)

In [ ]:
import pandas as pd
import os
import numpy as np
from unidecode import unidecode
import re

In [ ]:
# funcao que retonar todos os arquivos de uma pasta em um dataframe
def filesToDataframe (path,sep, encoding):
    lista_df = []
    for file in os.listdir(path):
        path_file = os.path.join(path, file)
        if os.stat(path_file).st_size > 0:
            df_temp = pd.read_csv(path_file,sep=sep, encoding=encoding)
            lista_df.append(df_temp)
    df_final = pd.concat(lista_df, ignore_index=True)
    return df_final

In [ ]:
glassdoor_path = '/content/drive/MyDrive/Colab Notebooks/Pos_ingestao/Dados/Empregados'
df_glassdoor = filesToDataframe(glassdoor_path, '|' ,'utf8')
df_glassdoor.head(n=5)

,employer_name,reviews_count,culture_count,salaries_count,benefits_count,employer-website,employer-headquarters,employer-founded,employer-industry,employer-revenue,...,Qualidade de vida,Alta liderança,Remuneração e benefícios,Oportunidades de carreira,Recomendam para outras pessoas(%),Perspectiva positiva da empresa(%),CNPJ,Nome,match_percent,Segmento
0,Apex Group,450,281,592,74,http://www.apexgroup.com,"Hamilton, Bermuda",2003.0,/Explorar/melhores-gestão-de-ativos-e-investim...,Mais de US$ 10 bilhões,...,3.0,2.9,2.7,3.2,52.0,53.0,655522.0,APE POUPEX,70,NaN
1,Banco Alfa,175,74,271,105,http://www.alfanet.com.br,"São Paulo, Brasil",1925.0,/Explorar/melhores-serviços-bancários-e-de-cré...,Desconhecida/não se aplica,...,3.1,2.8,3.8,2.7,68.0,47.0,58160789.0,SAFRA,67,NaN
2,China Construction Bank,871,194,720,240,http://www.ccb.com,"Pequim, China",NaN,/Explorar/melhores-serviços-bancários-e-de-cré...,Mais de US$ 10 bilhões,...,3.4,2.9,3.5,2.8,54.0,42.0,7450604.0,CHINA CONSTRUCTION BANK (BRASIL) BANCO MULTIPL...,77,NaN
3,Mercedes-Benz Mobility,282,90,513,118,https://www.mercedes-benz-mobility.com/de/karr...,"Estugarda, Alemanha",1990.0,/Explorar/melhores-serviços-bancários-e-de-cré...,Mais de US$ 10 bilhões,...,4.4,3.7,4.0,3.6,87.0,51.0,60814191.0,MERCEDES-BENZ,73,NaN
4,Sumitomo Mitsui Financial Group,903,246,1300,290,http://www.smfg.co.jp,"Tóquio, Japão",1996.0,/Explorar/melhores-gestão-de-ativos-e-investim...,Mais de US$ 10 bilhões,...,3.4,3.1,3.3,3.1,56.0,53.0,60518222.0,BANCO SUMITOMO MITSUI BRASIL S.A.,65,NaN

In [ ]:
reclamacoes_path = '/content/drive/MyDrive/Colab Notebooks/Pos_ingestao/Dados/Reclamacoes'
df_reclamacoes = filesToDataframe(reclamacoes_path, ';' ,'iso-8859-1')
df_reclamacoes.head(n=5)

,Ano,Trimestre,Categoria,Tipo,CNPJ IF,Instituição financeira,Índice,Quantidade de reclamações reguladas procedentes,Quantidade de reclamações reguladas - outras,Quantidade de reclamações não reguladas,Quantidade total de reclamações,Quantidade total de clientes  CCS e SCR,Quantidade de clientes  CCS,Quantidade de clientes  SCR,Unnamed: 14
0,2021,1º,Grupo Secundário,Conglomerado,,ABC-BRASIL (conglomerado),,2,3,4,9,26230,24698,3810,NaN
1,2021,1º,Grupo Secundário,Conglomerado,,AGIBANK (conglomerado),"54,79",58,140,73,271,1058431,790848,693843,NaN
2,2021,1º,Grupo Secundário,Banco/financeira,36321990,"AGORACRED S/A SOCIEDADE DE CRÉDITO, FINANCIAME...",,3,3,0,6,420692,129,420563,NaN
3,2021,1º,Grupo Secundário,Banco/financeira,27214112,"AL5 S.A. CRÉDITO, FINANCIAMENTO E INVESTIMENTO",,1,1,0,2,12645,4979,10112,NaN
4,2021,1º,Grupo Secundário,Conglomerado,,ALFA (conglomerado),,14,44,15,73,412135,268186,145105,NaN

In [ ]:
banco_path = '/content/drive/MyDrive/Colab Notebooks/Pos_ingestao/Dados/Bancos'
df_banco = filesToDataframe(banco_path, '\t' ,'iso-8859-1')
df_banco.head(n=10)

  Segmento      CNPJ                                           Nome
0       S1         0                   BANCO DO BRASIL - PRUDENCIAL
1       S1  60746948                          BRADESCO - PRUDENCIAL
2       S1  30306294                       BTG PACTUAL - PRUDENCIAL
3       S1    360305           CAIXA ECONOMICA FEDERAL - PRUDENCIAL
4       S1  60872504                              ITAU - PRUDENCIAL
5       S1  90400888                         SANTANDER - PRUDENCIAL
6       S2  92702067                          BANRISUL - PRUDENCIAL
7       S2   7237373  BANCO DO NORDESTE DO BRASIL S.A. - PRUDENCIAL
8       S2  33657248                             BNDES - PRUDENCIAL
9       S2  33479023                          CITIBANK - PRUDENCIAL

In [ ]:
# Drop linhas duplicadas
df_glassdoor = df_glassdoor.drop_duplicates()
df_reclamacoes = df_reclamacoes.drop_duplicates()
df_banco = df_banco.drop_duplicates()

In [ ]:
# deixando apenas as colunas relevenates
df_glassdoor = df_glassdoor[['Nome','Geral', 'Remuneração e benefícios']]
df_reclamacoes = df_reclamacoes[['Instituição financeira','CNPJ IF','Índice','Quantidade total de reclamações','Quantidade total de clientes  CCS e SCR']]

In [ ]:
# funcao para transformar " " em vazio e converter os campos para numeros
def convertCol(cols_to_fix, df):
    for col in cols_to_fix:
        df[col] = df[col].replace({"": np.nan, " ": np.nan})
    for col in cols_to_fix:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

In [ ]:
df_reclamacoes = convertCol(['Índice','Quantidade total de reclamações','Quantidade total de clientes  CCS e SCR'],df_reclamacoes)
# calculando as metricas de reclamacoes
df_reclamacoes = df_reclamacoes.groupby(['Instituição financeira', 'CNPJ IF']).agg({
    'Índice': 'mean',
    'Quantidade total de reclamações': 'sum',
    'Quantidade total de clientes  CCS e SCR': 'sum'
}).reset_index()
df_reclamacoes.head(n=5)

,Instituição financeira,CNPJ IF,Índice,Quantidade total de reclamações,Quantidade total de clientes  CCS e SCR
0,ABC-BRASIL (conglomerado),,NaN,59,262259.0
1,ABN AMRO (conglomerado),,NaN,1,0.0
2,ACESSO SOLUÇÕES DE PAGAMENTO S.A.,13140088,NaN,358,9376080.0
3,ACESSO SOLUÇÕES DE PAGAMENTO S.A. - INSTITUIÇÃ...,13140088,NaN,179,5538591.0
4,ACG INSTITUIÇÃO DE PAGAMENTO S.A.,10868663,NaN,2,51711.0

In [ ]:
df_glassdoor = convertCol(['Geral','Remuneração e benefícios'],df_glassdoor)
df_glassdoor = df_glassdoor.groupby(['Nome']).agg({
    'Geral': 'mean',
    'Remuneração e benefícios': 'mean'
}).reset_index()
df_glassdoor.head(n=5)

<ipython-input-26-56a89be7c7b2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].replace({"": np.nan, " ": np.nan})
<ipython-input-26-56a89be7c7b2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce')

                               Nome  Geral  Remuneração e benefícios
0                              ALFA    3.5                       3.8
1                        APE POUPEX    3.2                       2.7
2                BANCO DAYCOVAL S.A    4.0                       4.1
3                   BANCO DO BRASIL    4.3                       4.2
4  BANCO DO NORDESTE DO BRASIL S.A.    4.5                       4.2

In [ ]:
# funcao para padronizar os nomes do banco, remover acentos, remover alguma palavra especifica, remover espacos em brnaco no comeco e final
# e deixar tudo maisculo
def standardize_column(df, column_name,word_to_remove=None ):
    # Remover acentos
    df[column_name] = df[column_name].apply(lambda x: unidecode(str(x)) if pd.notnull(x) else x)

    # Remover a palavra
    if word_to_remove != None:
         # Escapar caracteres especiais na palavra a ser removida
        escaped_word = re.escape(word_to_remove)
        pattern = r"\s*" + escaped_word + r"\s*"
        df[column_name] = df[column_name].str.replace(pattern, "", case=False, regex=True)

    # Remover espaços vazios no início e no final da string
    df[column_name] = df[column_name].str.strip()

    # Transformar tudo em maiúsculo
    df[column_name] = df[column_name].str.upper()

    return df

In [ ]:
# padronizando o nome da Instituição financeira na base de reclamacaoe e removendo a string (conglomerado)
df_reclamacoes = standardize_column(df_reclamacoes, 'Instituição financeira', '(conglomerado)')
df_reclamacoes.head(n=5)

,Instituição financeira,CNPJ IF,Índice,Quantidade total de reclamações,Quantidade total de clientes  CCS e SCR
0,ABC-BRASIL,,NaN,59,262259.0
1,ABN AMRO,,NaN,1,0.0
2,ACESSO SOLUCOES DE PAGAMENTO S.A.,13140088,NaN,358,9376080.0
3,ACESSO SOLUCOES DE PAGAMENTO S.A. - INSTITUICA...,13140088,NaN,179,5538591.0
4,ACG INSTITUICAO DE PAGAMENTO S.A.,10868663,NaN,2,51711.0

In [ ]:
# padronizando o nome na base de bancos e removendo a string - PRUDENCIAL
df_banco = standardize_column(df_banco, 'Nome', '- PRUDENCIAL')
df_banco.head(n=5)

  Segmento      CNPJ                     Nome
0       S1         0          BANCO DO BRASIL
1       S1  60746948                 BRADESCO
2       S1  30306294              BTG PACTUAL
3       S1    360305  CAIXA ECONOMICA FEDERAL
4       S1  60872504                     ITAU

In [ ]:
# Inner Join da base do glassdoor com a de reclamacao
df_glassdoor_reclmacao = pd.merge(df_reclamacoes, df_glassdoor, left_on='Instituição financeira', right_on='Nome', how='inner')
df_glassdoor_reclmacao.head(n=50)

,Instituição financeira,CNPJ IF,Índice,Quantidade total de reclamações,Quantidade total de clientes  CCS e SCR,Nome,Geral,Remuneração e benefícios
0,ALFA,,NaN,480,2.966939e+06,ALFA,3.50,3.80
1,BANCO DO NORDESTE DO BRASIL S.A.,07237373,NaN,490,6.276276e+07,BANCO DO NORDESTE DO BRASIL S.A.,4.50,4.20
2,BANCO FIBRA S.A.,58616418,NaN,17,9.826030e+05,BANCO FIBRA S.A.,4.30,4.20
3,BANRISUL,,NaN,3689,3.575064e+07,BANRISUL,4.20,4.10
4,BMG,,NaN,12161,6.644034e+07,BMG,4.10,4.20
5,BNP PARIBAS,,NaN,4624,1.548393e+07,BNP PARIBAS,3.80,3.40
6,BOFA MERRILL LYNCH,,NaN,7,2.366000e+04,BOFA MERRILL LYNCH,3.80,3.80
7,BRADESCO,,NaN,60835,7.052659e+08,BRADESCO,4.20,4.30
8,BTG PACTUAL,,NaN,133,7.669980e+05,BTG PACTUAL,4.00,4.40
9,CAIXA ECONOMICA FEDERAL,,NaN,74106,1.023592e+09,CAIXA ECONOMICA FEDERAL,4.40,4.30
10,CITIBANK,,NaN,97,1.277770e+05,CITIBANK,3.90,3.80
11,CREDIT SUISSE,,NaN,4,5.997000e+03,CREDIT SUISSE,3.80,3.60
12,ITAU,,NaN,43280,6.323746e+08,ITAU,4.50,4.60
13,JP MORGAN CHASE,,NaN,9,1.163200e+04,JP MORGAN CHASE,4.05,3.90
14,MERCEDES-BENZ,,NaN,35,1.391790e+05,MERCEDES-BENZ,4.10,4.00
15,ORIGINAL,,NaN,10168,1.784604e+08,ORIGINAL,3.80,4.00
16,PAN,,NaN,3953,8.907890e+06,PAN,4.40,4.60
17,PINE,,NaN,29,2.346360e+05,PINE,3.80,3.90
18,SAFRA,,NaN,9914,3.293652e+07,SAFRA,3.50,3.80
19,SANTANDER,,NaN,45423,3.949571e+08,SANTANDER,3.90,4.00
20,SICREDI,,NaN,18,3.863086e+07,SICREDI,4.40,4.10
21,SOCIETE GENERALE,,NaN,6,2.112000e+03,SOCIETE GENERALE,3.70,3.30
22,VOTORANTIM,,NaN,4529,1.209266e+08,VOTORANTIM,4.25,3.95

In [ ]:
# removendo a coluna Nome
df_glassdoor_reclmacao = df_glassdoor_reclmacao.drop(columns=['Nome'])

In [ ]:
# Inner Join com a base de bancos
df_final = pd.merge(df_glassdoor_reclmacao, df_banco, left_on='Instituição financeira', right_on='Nome', how='inner')
df_final.head(n=50)

,Instituição financeira,CNPJ IF,Índice,Quantidade total de reclamações,Quantidade total de clientes  CCS e SCR,Geral,Remuneração e benefícios,Segmento,CNPJ,Nome
0,ALFA,,NaN,480,2.966939e+06,3.50,3.80,S3,60770336,ALFA
1,BANCO DO NORDESTE DO BRASIL S.A.,07237373,NaN,490,6.276276e+07,4.50,4.20,S2,7237373,BANCO DO NORDESTE DO BRASIL S.A.
2,BANCO FIBRA S.A.,58616418,NaN,17,9.826030e+05,4.30,4.20,S3,58616418,BANCO FIBRA S.A.
3,BANRISUL,,NaN,3689,3.575064e+07,4.20,4.10,S2,92702067,BANRISUL
4,BMG,,NaN,12161,6.644034e+07,4.10,4.20,S3,61186680,BMG
5,BNP PARIBAS,,NaN,4624,1.548393e+07,3.80,3.40,S3,1522368,BNP PARIBAS
6,BOFA MERRILL LYNCH,,NaN,7,2.366000e+04,3.80,3.80,S3,62073200,BOFA MERRILL LYNCH
7,BRADESCO,,NaN,60835,7.052659e+08,4.20,4.30,S1,60746948,BRADESCO
8,BTG PACTUAL,,NaN,133,7.669980e+05,4.00,4.40,S1,30306294,BTG PACTUAL
9,CAIXA ECONOMICA FEDERAL,,NaN,74106,1.023592e+09,4.40,4.30,S1,360305,CAIXA ECONOMICA FEDERAL
10,CITIBANK,,NaN,97,1.277770e+05,3.90,3.80,S2,33479023,CITIBANK
11,CREDIT SUISSE,,NaN,4,5.997000e+03,3.80,3.60,S2,33987793,CREDIT SUISSE
12,ITAU,,NaN,43280,6.323746e+08,4.50,4.60,S1,60872504,ITAU
13,JP MORGAN CHASE,,NaN,9,1.163200e+04,4.05,3.90,S3,33172537,JP MORGAN CHASE
14,MERCEDES-BENZ,,NaN,35,1.391790e+05,4.10,4.00,S3,60814191,MERCEDES-BENZ
15,ORIGINAL,,NaN,10168,1.784604e+08,3.80,4.00,S3,92894922,ORIGINAL
16,PAN,,NaN,3953,8.907890e+06,4.40,4.60,S3,59285411,PAN
17,PINE,,NaN,29,2.346360e+05,3.80,3.90,S3,62144175,PINE
18,SAFRA,,NaN,9914,3.293652e+07,3.50,3.80,S2,58160789,SAFRA
19,SANTANDER,,NaN,45423,3.949571e+08,3.90,4.00,S1,90400888,SANTANDER
20,SICREDI,,NaN,18,3.863086e+07,4.40,4.10,S3,1181521,SICREDI
21,SOCIETE GENERALE,,NaN,6,2.112000e+03,3.70,3.30,S3,61533584,SOCIETE GENERALE
22,VOTORANTIM,,NaN,4529,1.209266e+08,4.25,3.95,S2,59588111,VOTORANTIM

In [ ]:
df_final = df_final.drop(columns=['Nome', 'CNPJ IF'])
df_final = df_final.rename(columns={
    'Instituição financeira': 'nome_do_banco',
    'CNPJ': 'cnpj',
    'Segmento': 'classificacao_do_banco',
    'Quantidade total de clientes  CCS e SCR':'quantidade_clientes_bancos',
    'Índice':'indice_reclamacoes',
    'Quantidade total de reclamações':'quantidade_reclamacoes',
    'Geral':'indice_satisfacao_funcionarios_bancos',
    'Remuneração e benefícios':'indice_satisfacao_salarios_funcionarios_bancos'
})
df_final.head(n=50)

,nome_do_banco,indice_reclamacoes,quantidade_reclamacoes,quantidade_clientes_bancos,indice_satisfacao_funcionarios_bancos,indice_satisfacao_salarios_funcionarios_bancos,classificacao_do_banco,cnpj
0,ALFA,NaN,480,2.966939e+06,3.50,3.80,S3,60770336
1,BANCO DO NORDESTE DO BRASIL S.A.,NaN,490,6.276276e+07,4.50,4.20,S2,7237373
2,BANCO FIBRA S.A.,NaN,17,9.826030e+05,4.30,4.20,S3,58616418
3,BANRISUL,NaN,3689,3.575064e+07,4.20,4.10,S2,92702067
4,BMG,NaN,12161,6.644034e+07,4.10,4.20,S3,61186680
5,BNP PARIBAS,NaN,4624,1.548393e+07,3.80,3.40,S3,1522368
6,BOFA MERRILL LYNCH,NaN,7,2.366000e+04,3.80,3.80,S3,62073200
7,BRADESCO,NaN,60835,7.052659e+08,4.20,4.30,S1,60746948
8,BTG PACTUAL,NaN,133,7.669980e+05,4.00,4.40,S1,30306294
9,CAIXA ECONOMICA FEDERAL,NaN,74106,1.023592e+09,4.40,4.30,S1,360305
10,CITIBANK,NaN,97,1.277770e+05,3.90,3.80,S2,33479023
11,CREDIT SUISSE,NaN,4,5.997000e+03,3.80,3.60,S2,33987793
12,ITAU,NaN,43280,6.323746e+08,4.50,4.60,S1,60872504
13,JP MORGAN CHASE,NaN,9,1.163200e+04,4.05,3.90,S3,33172537
14,MERCEDES-BENZ,NaN,35,1.391790e+05,4.10,4.00,S3,60814191
15,ORIGINAL,NaN,10168,1.784604e+08,3.80,4.00,S3,92894922
16,PAN,NaN,3953,8.907890e+06,4.40,4.60,S3,59285411
17,PINE,NaN,29,2.346360e+05,3.80,3.90,S3,62144175
18,SAFRA,NaN,9914,3.293652e+07,3.50,3.80,S2,58160789
19,SANTANDER,NaN,45423,3.949571e+08,3.90,4.00,S1,90400888
20,SICREDI,NaN,18,3.863086e+07,4.40,4.10,S3,1181521
21,SOCIETE GENERALE,NaN,6,2.112000e+03,3.70,3.30,S3,61533584
22,VOTORANTIM,NaN,4529,1.209266e+08,4.25,3.95,S2,59588111

In [ ]:
# colocando o resultado final em um csv
df_final.to_csv('tabela_final.csv')